@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* common styles */

header{
    font-family: 'Poppins', sans-serif;
    background-color: #2D25A0;
}
body{
    margin: 0;
}

.container{
     margin-top: 70px;
     margin-left: 180px;
     margin-right: 210px;
}
/*--------------------
    Header Styles 
    ------------------*/
    
        
.web-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 156px;
    margin-right: 141px;
    padding-top: 153px;
    padding-bottom: 86px;
   
}
.web-title {
    
    font-size: 31px;
    line-height: 38px;
    color:white;
    margin-top:90px;
    
}
.live-link{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E02C6D;
    height: 44px;
    width: 168px;
    color: white;
    
    
}
.live-link a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
.web-banner{
    /* margin-top: 153px; */
}
.web-banner img{
    width: 556px;
    height: 438px;
}
 
/*-------------------
   players styles
   ------------------- */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}  
.player{
    box-shadow:5px 5px 20px lightgray;
    padding: 15px;
} 
.player img{
    width: 300px;
    height: 256px;
}

